<a href="https://colab.research.google.com/github/ZappD0S/MLPNS_GZappavigna/blob/main/solutions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=["title", "genre"])

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [8]:
movies[movies.genre.str.contains("Fantasy")]

,title,genre
2,Jumanji (1995),Adventure|Children's|Fantasy
56,Kids of the Round Table (1995),Adventure|Children's|Fantasy
60,"Indian in the Cupboard, The (1995)",Adventure|Children's|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children's|Fantasy
247,Heavenly Creatures (1994),Drama|Fantasy|Romance|Thriller
...,...,...
3479,Ladyhawke (1985),Adventure|Fantasy|Romance
3489,Hook (1991),Adventure|Fantasy
3877,Supergirl (1984),Action|Adventure|Fantasy
3889,Highlander: Endgame (2000),Action|Adventure|Fantasy
3920,"Faraway, So Close (In Weiter Ferne, So Nah!) (...",Drama|Fantasy

In [22]:
print("exactly Fantasy:", (movies.genre == "Fantasy").sum())
print("exactly Adventure:", (movies.genre == "Adventure").sum())
print("contains Fantasy:", movies.genre.str.contains("Fantasy").sum())

exactly Fantasy: 1
exactly Adventure: 17
contains Fantasy: 68

In [19]:
movies.genre.str.split("|").map(lambda genres: "Fantasy" in genres).sum()

68