<a href="https://colab.research.google.com/github/ZappD0S/MLPNS_GZappavigna/blob/main/solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=["title", "genre"])

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
movies[movies.genre.str.contains("Fantasy")]

,title,genre
2,Jumanji (1995),Adventure|Children's|Fantasy
56,Kids of the Round Table (1995),Adventure|Children's|Fantasy
60,"Indian in the Cupboard, The (1995)",Adventure|Children's|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children's|Fantasy
247,Heavenly Creatures (1994),Drama|Fantasy|Romance|Thriller
...,...,...
3479,Ladyhawke (1985),Adventure|Fantasy|Romance
3489,Hook (1991),Adventure|Fantasy
3877,Supergirl (1984),Action|Adventure|Fantasy
3889,Highlander: Endgame (2000),Action|Adventure|Fantasy
3920,"Faraway, So Close (In Weiter Ferne, So Nah!) (...",Drama|Fantasy

In [ ]:
print("exactly Fantasy:", (movies.genre == "Fantasy").sum())
print("exactly Adventure:", (movies.genre == "Adventure").sum())
print("contains Fantasy:", movies.genre.str.contains("Fantasy").sum())

exactly Fantasy: 1
exactly Adventure: 17
contains Fantasy: 68

In [ ]:
movies.genre.str.split("|").map(lambda genres: "Fantasy" in genres).sum()

68

#Exercise 2

In [2]:
def is_palindrome(word):
    if not isinstance(word, str):
        print("input must be of type str")
        return
    
    half_len = len(word) // 2

    if word[:half_len] == word[:-half_len-1:-1]:
        print("Yes its a palindrome")
        print(word[:(len(word) + 1) // 2])
        return 1
    else:
        print("this is not a palindrome")
        return -1

print(is_palindrome("anna"))
print(is_palindrome("radar"))
print(is_palindrome("something"))
print(is_palindrome(123))

Yes its a palindrome
an
1
Yes its a palindrome
rad
1
this is not a palindrome
-1
input must be of type str
None

In [3]:
import numpy as np

def build_array():
    x = np.arange(1, 11)
    x = x[x % 2 == 0]
    x = x[::-1]
    x += 1
    return x


build_array()

array([11,  9,  7,  5,  3])